<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
     {{>header}}
     <p>This site provide weather information and a few places of interest for the location provided by the user. </p>
     <p> It uses data from mapbox.com, darksky.net and goggle maps.</p>
    <img class="potrait" src="/img/robot.png">
    </div>

    {{>footer}}
</body>

</html>