body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    margin-top: 16px;
    padding: 16px 0;
    border-top: 2px solid #eeeeee;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.potrait{
    max-width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 10px;
    min-width: 450px;
}

button{
    cursor: pointer;
    border: 2px solid #888888;
    background: #ffbf58;
    border-radius: 0.2em;
    color: #888888;
    padding: 10px;

}

th{
    border-bottom: 2px solid black;
    background: black;
    color: #888888;
    padding: 10px;

}
td,tr{
    padding: 10px;
    border-bottom: 2px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2;}

table{
    border-collapse: collapse;
    border: 1px solid black;
}